<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      </p>
    </div>

    <ul class="sidebar-nav">
      <li><a href="/">Inicio</a> </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{end}}
    </ul>

    <p>
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img
         alt="Licencia Creative Commons"
         style="border-width:0"
         src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
    </p>
  </div>
</div>
